[Desktop Entry]
Type=Application
Version=1.0
Name=OsmoTetra
GenericName=TETRA monitor
GenericName[it]=Monitor TETRA
Comment=Receive and decode TETRA networks with an SDR
Comment[it]=Ricezione e decodifica di reti TETRA con una radio SDR
Exec=@BINDIR@/osmotetra
TryExec=@BINDIR@/osmotetra
Icon=osmotetra
Terminal=false
Categories=Network;HamRadio;
Keywords=TETRA;SDR;radio;telive;osmo-tetra;RTL-SDR;
StartupNotify=true
